/**
 * Author: Lirrums
 * Programming Language: PHP
 * Topic: PHP + OOP + HTML + SASS
 * Gitlab: https://gitlab.com/linacastrodev
 */

 /* START VAR */
 $color-white: #fafafa;
 /* END VAR */
 body {
  background-color: #161b22;
}
.container {
  background-image: linear-gradient(180deg, transparent 60%, #0d1117),
    linear-gradient(70deg, rgb(56 139 253 / 10%) 32%, rgb(46 160 67 / 10%));
  border: 1px solid #30363d;
  padding: 30px;
  width: 50%;
  border-radius: 5px;
  margin: 0px auto;
  margin-top: 100px;

  .title {
    font-family: "Courier New", Courier, monospace;
    color: $color-white !important;
    text-align: center;
  }
  .subtitle {
    font-family: "Courier New", Courier, monospace;
    color: $color-white !important;
    text-align: center;
    font-size: 14px;
  }
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    .form-contrl {
      width: 40%;
      height: 25px;
      border-radius: 5px;
      border: none;
      margin-bottom: 10px !important;
    }
    .txt-contrl{
        font-family: 'Courier New', Courier, monospace;
        color: $color-white;
    }
    ::placeholder {
      color: #000;
      font-family: "Courier New", Courier, monospace;
      padding-left: 10px;
    }
    select{
      padding-left: 10px;
    }
    .btn-contrl {
      background: linear-gradient(70deg, #2ea043 32%, #238636);
      width: 20%;
      font-family: "Courier New", Courier, monospace;
      color: $color-white;
      font-weight: bold;
      height: 28px;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
    }
  }
}

.response-age {
  color: $color-white;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;

}
.response-gender {
    color: $color-white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
  }
/* ==== START Mediaqueries Mobiles ==== */
@media (max-width:414px) {
    .container{
        width: 80%;
        padding-bottom: 15%;
        form{
            .form-contrl{
                width: 70%;
            }
            .btn-contrl{
                width: 70%;
            }
        }
    }
}
/* ==== END Mediaqueries Mobiles ==== */

/* ==== START Mediaqueries Tablets ==== */
@media only screen and (min-width: 540px) and (max-width: 720px) {
  .container{
    width: 80%;
    padding-bottom: 15%;
    form{
        .form-contrl{
            width: 70%;
        }
        .btn-contrl{
            width: 70%;
        }
    }
  }
}
/* ==== END Mediaqueries Tablets ==== */